<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .box{
            width: 100%;
            height: 300px;
            background-color: aqua;

            border: 2px solid black;
            margin: 5px;
        }
        .box1{
            width: 100%;
            height: 300px;
            background-color:blue;

            border: 2px solid black;
            margin: 5px;
        }
        .parentclass{
            display:  flex;
            flex-direction: row-reverse;
        }
    </style>
</head>
<body>
    <div class="parentclass">
    <div class="box">
        <img src="image/icon.png" alt="" width="100%" height="100px">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos necessitatibus vero officia, voluptatibus ea tempora at. Ipsam alias dignissimos asperiores, deserunt enim fuga numquam odit autem, repellat culpa error et?</p>
    </div>
    <div class="box1"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>

</div>
<div class="parentclass">
    <div class="box1"></div>
    <div class="box"></div>


</div>
</body>
</html>